// Replace the next variables with your SSID/Password combination
const char* ssid        = "SSID";
const char* password    = "PASSWORD";

// Add your MQTT Broker IP address, example:
const char* mqtt_server = "IP or Hostname of MQTT Broker";
const char* mqtt_user   = "MQTT Username";
const char* mqtt_pass   = "MQTT Password";